<dialog id="level-up-modal" class="modal modal-bottom sm:modal-middle">
  <form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg">Conversation with Eigoemon</h3>
    <img src="<%= asset_path 'man.png' %>" alt="Man Image" />
    <p id="conversation-content">conversations</p>
    <div class="modal-action">
      <button class="btn" id="next-button">つぎへ</button>
    </div>
  </form>
</dialog>