<h1>Quizzes#show</h1>
<h1><%= @quiz.word.name %></h1>

<% @quiz_choices.each do |choice| %>
  <% first_part, bold_part, last_part = choice.parts %>
  <%= first_part %>
  <% if bold_part %>
    <strong><%= bold_part %></strong>
  <% end %>
  <%= last_part %>
<% end %>
