<%= render 'shared/header' %>
<p class="mx-auto text-4xl text-center font-rocknroll break-words mt-5">メモした単語いちらん</p>
<% if @favorites.present? %>
  <p class="mx-auto text-2xl text-center font-yusei break-words text-rose-900 mt-3">※ 次のページでは音が出るから気をつけてね</p>
<% end %>

<div class="mockup-code mt-36 mx-28 bg-gray-600 text-white p-3 pb-52 mb-20">
  <% if @favorites.present? %>
      <% @favorites.each do |favorite| %>
        <div class="m-3 inline-block">
          <code class="hover:bg-yellow-500 hover:text-gray-900 text-2xl px-3">
            <%= link_to favorite.word.name, favorite_path(favorite) %>
          </code>
        </div>
      <% end %>
  <% else %>
    <p class="text-2xl px-3 text-center">まだメモがないよ</p>
  <% end %>
</div>
