<%= render 'shared/header' %>
<h1 class="font-bold mt-8 text-7xl text-center pb-5 font-yusei">復習もんだいコーナー</h1>
<p class="mx-auto text-4xl text-center font-yusei break-words mt-20 text-red-900">回答履歴に応じて、もんだいが出題されるよ。</p>
<p class="mx-auto text-4xl text-center font-yusei break-words mb-72 text-red-900">いまもんだいが表示されていないキミはきっと発音をこよなく愛しているね！</p>
