<%= render 'shared/header' %>
<h1 class="font-bold mt-8 text-7xl text-center pb-5 font-yusei"><%= t('review.title2') %></h1>
<p class="mx-auto text-4xl text-center font-yusei break-words mt-20 text-red-900"><%= t('review.announcement1') %></p>
<p class="mx-auto text-4xl text-center font-yusei break-words mb-72 text-red-900"><%= t('review.announcement2') %></p>
