<footer class="footer footer-center p-10 bg-yellow-600 font-yusei">
  <div class="grid grid-flow-col gap-4">
    <%= link_to 'プライバシーポリシー', pages_privacy_path, class: 'link link-hover text-base-200 lg:text-lg'%> 
    <%= link_to '利用規約', pages_terms_path, class: 'link link-hover text-base-200 lg:text-lg'%> 
    <%= link_to '開発者X（旧Twitter）', 'https://twitter.com/YmKandew9', class: 'link link-hover text-base-200 lg:text-lg'%> 
  </div> 
  <div class="grid grid-flow-col gap-4">
    <p class="text-base-200 lg:text-lg">Copyright © <%= Time.current.year %> - All rights reserved by はつめい屋 英語えもん</p>
  </div>
</footer>
