<footer class="footer footer-center p-10 bg-blue-700">
  <div class="grid grid-flow-col gap-4 text-base-200 rounded">
    <%= link_to 'プライバシーポリシー', pages_privacy_path, class: 'link link-hover' %> 
    <%= link_to '利用規約', pages_terms_path, class: 'link link-hover' %> 
    <%= link_to 'お問い合わせ', '#', class: 'link link-hover' %> 
  </div> 
  <div class="grid grid-flow-col gap-4 text-base-200 rounded">
    <p>Copyright © <%= Time.current.year %> - All right reserved by はつめい屋 英語えもん</p>
  </div>
</footer>
