<footer class="footer footer-center p-10 bg-yellow-600 font-yusei">
  <div class="grid grid-flow-col gap-4">
    <%= link_to 'プライバシーポリシー', pages_privacy_path, class: 'link link-hover text-base-200 text-lg' %> 
    <%= link_to '利用規約', pages_terms_path, class: 'link link-hover text-base-200 text-lg' %> 
  </div> 
  <div class="grid grid-flow-col gap-4">
    <p class="text-base-200 text-lg">Copyright © <%= Time.current.year %> - All right reserved by はつめい屋 英語えもん</p>
  </div>
</footer>
