<% if is_correct %>
  <h1 class="font-rowdies text-lg text-center text-rose-900 mt-5"><%= t('question.fantastic') %></h1>
  <h1 class="font-yusei text-6xl text-center text-rose-900"><%= t('question.great_fantastic') %></h1>
<% else %>
  <h1 class="font-rowdies text-lg text-center text-blue-800 mt-5"><%= t('question.nice_try') %></h1>
  <h1 class="font-yusei text-6xl text-center text-blue-800"><%= t('question.great_nice_try') %></h1>
<% end %>