<% if is_correct %>
  <% results = [
    { main_text: 'fantastic', sub_text: 'great_fantastic' },
    { main_text: 'genius', sub_text: 'great_genius' }
  ].sample %>
  <% color_class = "text-rose-900" %>
<% else %>
  <% results = [
    { main_text: 'nice_try', sub_text: 'great_nice_try' },
    { main_text: 'almost', sub_text: 'great_almost' }
  ].sample %>
  <% color_class = "text-blue-800" %>
<% end %>

<h1 class="font-rowdies text-lg text-center <%= color_class %> mt-5"><%= t("question.#{results[:main_text]}") %></h1>
<h1 class="font-yusei lg:text-6xl text-3xl text-center <%= color_class %>"><%= t("question.#{results[:sub_text]}") %></h1>
