<div class="relative z-[1000]">
  <div id="status" class="mr-2"></div>
  <div id="transcript" class="mr-2"></div>
  <button onclick="startRecognition()" class="block mb-2  btn bg-green-700 hover:bg-green-600 text-white hover:text-white font-yusei text-lg text-center mt-2">お稽古<i class="fa-solid fa-microphone"></i></button>
</div>