<div class="relative z-[1000]">
  <div id="status" class="mr-2"></div>
  <div id="transcript" class="mr-2"></div>
  <button onclick="startRecognition()" class="block mb-2  btn bg-rose-900 hover:bg-rose-800 text-white hover:text-white font-yusei text-lg text-center mt-2"><i class="fa-solid fa-microphone"></i></button>
</div>