<div class="w-full lg:w-1/2 mx-auto lg:mx-0 lg:mr-20 mt-10">
  <div id="youglish-player"></div>
  <div id="youglish-widget" data-word="<%= word.name %>"></div>
  <div class="ml-32">
    <button id="play-button" class="btn btn-primary">再生</button>
    <button id="pause-button" class="btn btn-secondary">停止</button>
    <button id="next-button" class="btn btn-primary">つぎの動画</button>
    <button id="prev-button" class="btn btn-secondary">まえの動画</button>
    <button id="repeat-button" class="btn btn-secondary">繰り返す</button>
  </div>
</div>