<body class="relative min-h-screen">
  <header class="fixed top-0 w-full"><%= render 'shared/header' %></header>

  <div class="md:absolute lg:top-2 lg:right-10 md:w-3/5 w-10/12 mt-12 md:mt-0 right-6 mx-auto -z-10 lg:w-3/6">
    <%= image_tag("top.jpeg", alt: "Top Image", class: "mx-auto w-1/2 lg:pt-39 mt-20") %>
  </div>
  
</body>

<p>ここにフッター</p>
