<%= render partial: 'shared/header' %>

<html data-theme="fantasy">
<h1>tailwindテスト/h1>
<button class="btn btn-primary">One</button>
<button class="btn btn-secondary">Two</button>
<button class="btn btn-accent btn-outline">Three</button>
</html>
