<p><%= @resource.email %> さま</p>
<p>パスワードリセットの申請を受け付けました。以下のリンクから変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしリクエストしていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスし、新しいパスワードを作成するまで、パスワードは変更されません。</p>
<p>※リンクの有効期限は1時間です。</p>
