<div class="mt-5 mb-60">
  <div class="text-2xl">
    管理画面：ユーザー一覧
  </div>

<div>
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider">ID</th>
        <th class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider">名前</th>
        <th class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider">レベル</th>
        <th class="px-6 py-3 text-left font-medium text-gray-500 uppercase tracking-wider">作成日</th>
        <th class="px-6 py-3 text-left ont-medium text-gray-500 uppercase tracking-wider">操作</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <%= render partial: 'admin/users/user_row', collection: @users, as: :user %>
    </tbody>
  </table>
</div>
