<div class="hidden lg:block">
  <div class="navbar bg-yellow-600">
    <div class="flex-1">
      <%= link_to t('defaults.eigoemon'), root_path, class: 'btn bg-rose-900 hover:bg-rose-800 text-white text-xl font-yusei ml-10' %>
    </div>
    </div>
  </div>
</div>
